function Main.main 1
push constant 7
neg
pop local 0
push constant 11
call String.new 1
push constant 45
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call Shift.singleArithmeticRight 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 15
neg
pop local 0
push constant 12
call String.new 1
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call Shift.singleArithmeticRight 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 15
neg
pop local 0
push constant 12
call String.new 1
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 2
call Shift.arithmeticRight 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 12
call String.new 1
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 3
call Shift.arithmeticRight 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 12
call String.new 1
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 4
call Shift.arithmeticRight 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 13
call String.new 1
push constant 45
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 15
call Shift.arithmeticRight 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
