// This file is part of www.nand2tetris.org
  // and the book "The Elements of Computing Systems"
      // by Nisan and Schocken, MIT Press.
        // File name: projects/08/FunctionCalls/SimpleFunction/SimpleFunction.vm

// Performs a simple calculation and returns the result.
function SimpleFunction.test 2
// push 0 x 2
push local 0
// push RAM[RAM[1]] == push(0)
push local 1
// push RAM[RAM[1] + 1] == push(0)
add
// 0 + 0
not
// !0 => -1
push argument 0
// push RAM[RAM[2]] => push(1234)
add
// RAM[SP - 1] = 1233
push argument 1
// push RAM[RAM[2] + 1] => push RAM[311] => push 37
sub
// RAM[SP - 1] = 1233 - 37 => RAM[SP - 1]  = 1196
return
